{# Double paragraph #}
<section class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-20 article">
  <div class="flex flex-col lg:flex-row">

    <div class="flex-1">
      <h1 class="">{{ componentTitle1 }}</h1>
      <p class="pt-6 pb-4">{{ componentText1 }}</p>
    </div>

    <div class="border-r border-gray-900 w-8 flex-none"></div>
    <div class="border-l border-gray-900 w-8 flex-none"></div>

    <div class="flex-1">
      <h1 class="">{{ componentTitle2 }}</h1>
      <p class="pt-6 pb-4">{{ componentText2 }}</p>
    </div>

  </div>
</section>

