{# Paragraph + CTA #}
<section class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-20 article">
  <div class="flex flex-col lg:flex-row">

    <div class="flex-1 my-auto">
      <h1 class="text-xl md:text-2xl xl:text-3xl font-bold">{{ componentTitle }}</h1>
      <p class="pt-6 pb-4 text-lg">{{ componentText }}</p>

      <div class="flex flex-col md:flex-row">
        <a href="{{ componentBtnLink }}">
          <button class="btn-tag-toggle">{{ componentBtnText }}</button>
        </a>
      </div>
    </div>

    <div class="flex text-center mx-auto my-auto">
      <img class="max-w-sm lg:ml-6 border-2 border-white" src="{{ componentImage }}">
    </div>

  </div>
</section>
