{# Paragraph + CTA #}
<section class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-20 article">
  <h1 class="">{{ componentTitle }}</h1>
  <p class="pt-6 pb-4">{{ componentText }}</p>

  <div class="flex flex-col md:flex-row">
    <a href="{{ componentBtnLink1 }}">
      <button class="btn-tag-toggle">Learn more</button>
    </a>

    <a class="md:ml-2" href="{{ componentBtnLink2 }}">
      <button class="btn-white">Learn even more</button>
    </a>
  </div>
</section>
