{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="py-20 text-center md:py-32 lg:py-40">
  <h1>
    <span class="sr-only">Nexa</span>
    <img class="w-auto h-16 mx-auto mb-6 md:h-20 lg:h-24 xl:h-28 2xl:h-32" src="/static/img/logo.svg" alt="">
    <span class="text-xl md:text-2xl xl:text-3xl">A Peer-to-Peer Digital Value System</span>
  </h1>
</section>
<!-- /Hero header -->

<!-- Features -->
<div class="h-130 -my-32 bg-right-top bg-size-md bg-no-repeat md:h-192 md:-my-52 md:bg-size-lg lg:h-240 lg:-my-72 lg:bg-size-xl xl:h-288 xl:-my-96 xl:bg-size-2xl 2xl:h-320 2xl:-my-112 2xl:bg-cover" style="background-image: url('/static/img/filament-1.svg')">
</div>
<section class="py-24 md:py-32 lg:py-40">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full mb-6 md:order-2 md:w-3/5 md:mb-0">
      <div class="h-80 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/diamond-0.svg');">
      </div>
    </div>
    <div class="w-full md:order-1 md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Native Tokens</h2>
      <p class="mt-6 lg:text-lg">Nexa is bringing advanced tokens & NFTs to layer-1. Create your new token product or service with no effort and essentially no cost due to the simple and efficient design.</p>
      <p class="mt-6 lg:text-lg">Native tokens are backed by the full security of miner proof-of-work making them as secure as Nexa itself.</p>
    </div>
  </div>
</section>
<div class="h-130 -my-32 -mb-60 bg-top bg-size-md bg-no-repeat md:h-192 md:-my-52 md:-mb-112 md:bg-size-lg lg:h-240 lg:-my-80 lg:-mb-160 lg:bg-size-xl xl:h-288 xl:-my-80 xl:-mb-160 xl:bg-size-2xl 2xl:h-360 2xl:-my-80 2xl:-mb-200 2xl:bg-cover" style="background-image: url('/static/img/filament-3.svg')">
</div>
<section class="py-24 md:py-32 lg:py-40">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full mb-6 md:w-3/5 md:mb-0">
      <div class="h-80 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/diamond-1.svg');">
      </div>
    </div>
    <div class="w-full text-right md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Programmability</h2>
      <p class="mt-6 lg:text-lg">Nexa has been designed to offer extremely advanced programmability and smart-contract flexibility. It goes far beyond what is normally found in traditional UTXO-based blockchain. Nexa has near-EVM levels of functionality allowing it to out-compete not only Bitcoin but also Ethereum.</p>
      <p class="mt-6 lg:text-lg">Partial-transactions, bignums, and script templates open up endless DeFi possibilties .</p>
    </div>
  </div>
</section>
<div class="h-130 -my-32 bg-left-bottom bg-size-md bg-no-repeat md:h-192 md:-my-52 md:bg-size-lg lg:h-240 lg:-my-88 lg:bg-size-xl xl:h-288 xl:-my-96 xl:bg-size-2xl 2xl:h-360 2xl:-my-112 2xl:bg-cover" style="background-image: url('/static/img/filament-2.svg')">
</div>
<section class="py-24 pt-32 bg-contain bg-right-top bg-size-diamond2 bg-no-repeat md:py-32 md:bg-right md:bg-contain lg:py-40" style="background-image: url('/static/img/diamond-2.svg');">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full mb-6 md:order-2 md:w-3/5 md:mb-0">
      <div class="h-80 bg-top md:h-96 lg:h-130">
      </div>
    </div>
    <div class="w-full md:order-1 md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Scalability</h2>
      <p class="mt-6 lg:text-lg">Nexa is taking layer-1 scalability to the next level. No other layers are necessary, meaning fees will stay low and there will always be capacity for your transactions and contracts.</p>
      <p class="mt-6 lg:text-lg">Nexa utilises the UTXO architecture to achieve massive parallelisation at the hardware-level, making one gigabyte blocks and huge capacity a reality.</p>
    </div>
  </div>
</section>
<div class="h-130 -my-32 -mb-60 bg-top bg-size-md bg-no-repeat md:h-192 md:-my-52 md:-mb-112 md:bg-size-lg lg:h-240 lg:-my-80 lg:-mb-160 lg:bg-size-xl xl:h-288 xl:-my-80 xl:-mb-160 xl:bg-size-2xl 2xl:h-360 2xl:-my-80 2xl:-mb-200 2xl:bg-cover" style="background-image: url('/static/img/filament-3.svg')">
</div>
<section class="py-24 md:py-32 lg:py-40">
  <div class="flex flex-wrap items-center max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <div class="w-full mb-6 md:w-3/5 md:mb-0">
      <div class="h-80 bg-top bg-contain bg-no-repeat md:h-96 lg:h-130" style="background-image: url('/static/img/diamond-3.svg');">
      </div>
    </div>
    <div class="w-full text-right md:w-2/5">
      <h2 class="mb-4 text-3xl leading-7 font-medium">Security</h2>
      <p class="mt-6 lg:text-lg">The Nexa protocol uses the same battle-tested security system as Bitcoin, proof-of-work. Nexa’s developers have been building industry-leading technology for Bitcoin and other proof-of-work system for over 7 years and have many decades of combined experience.</p>
      <p class="mt-6 lg:text-lg">All of Nexa’s code goes through a rigorous and open review process to make sure security always remains paramount.</p>
    </div>
  </div>
</section>
<!-- /Features -->
{% endblock %}
