{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="pt-12 md:pt-16 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h1 class="text-5xl md:text-6xl font-light uppercase">Roadmap</h1>
  </div>
</section>
<!-- /Hero header -->

{# Section 1 #}
<section class="py-24 pt-12 overflow-hidden md:py-32 md:pt-16 lg:py-40 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl flex items-stretch flex-col xl:flex-row">

    {# Card 1 #}
    <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-10 w-full">
      <div class="border-2 border-white h-full text-white py-4 px-12 -skew-x-6">
        <div class="skew-x-6">

          <img src="/static/img/roadmap/tokens.svg" class="absolute -top-8 -left-14 h-16">

          <h1 class="text-lg lg:text-xl ml-12 font-bold h-12 min-h-full">Core NEX & Token Services</h1>
          <p class="pt-4 xl:pt-6">Building out the key financial services integrated directly into the Nexa network, ready for any business to start using at minimal cost and effort.</p>

        </div>
      </div>
    </div>

    {# Card 2 #}
    <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-10 w-full">
      <div class="border-2 border-white h-full text-white py-4 px-12 -skew-x-6">
        <div class="skew-x-6">

          <img src="/static/img/roadmap/scaling.svg" class="absolute -top-8 -left-14 h-16">

          <h1 class="text-lg lg:text-xl ml-12 font-bold h-12 min-h-full">Gigablock Scaling</h1>
          <p class="pt-4 xl:pt-6">Driving industry-leading and unique hardware-based scaling technology to bring global scale blockchain capacity to Nexa today.</p>

        </div>
      </div>
    </div>

    {# Card 3 #}
    <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-10 w-full">
      <div class="border-2 border-white h-full text-white py-4 px-12 -skew-x-6">
        <div class="skew-x-6">

          <img src="/static/img/roadmap/exchange.svg" class="absolute -top-8 -left-14 h-16">

          <h1 class="text-lg lg:text-xl ml-12 font-bold h-12 min-h-full">Exchange Listing</h1>
          <p class="pt-4 xl:pt-6">People around the world need access to NEX and Nexa-based tokens to gain the benefits of Nexa financial services, therefore having it available on many exchanges is key.</p>

        </div>
      </div>
    </div>

  </div>
</section>
{# /Section 1 #}


{# Roadmap #}
<section class="pb-24 overflow-hidden">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl" id="roadmap">
    <div class="mx-auto max-w-xl">

      <div class="pt-2">
        <img src="/static/img/roadmap/checkmark.svg" class="inline h-10 -mt-2">
        <span class="ml-2 uppercase md:text-2xl font-extrabold">Shipped: Q32022 - Q4 2022</span>
      </div>

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            Key Launch Tools & Services
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Nexa node</li>
          <li>Rostrum,</li>
          <li>Explorer,</li>
          <li>Wally wallet,</li>
          <li>Nexa Script debug tool debug.nexa.org,</li>
          <li>Official social media accounts,</li>
          <li>nexa.org (basic version),</li>
          <li>spec.nexa.org.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      <div class="pt-2">
        <img src="/static/img/roadmap/ellipsis.svg" class="inline h-10 -mt-2">
        <span class="ml-2 uppercase md:text-2xl font-extrabold">Next Steps: Q4 2022 - Q2 2023</span>
      </div>

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10 flex">
            <img src="/static/img/roadmap/sun.svg" class="h-8">
            <div>Core NEX & Token Functionality</div>
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Tokens in explorer,</li>
          <li>Tokens in Wally/libnexa.so,</li>
          <li>Front-end redesign for Nifty,</li>
          <li>Rostrum upgrades,</li>
          <li>Zise Mobile wallet - NEX functionality,</li>
          <li>Example web app,</li>
          <li>Fungible token tool page PoC (e.g. white label ticketing service).</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            Gigablock Scaling Phase 2
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Signature FPGA,</li>
          <li>UTXO Commitments,</li>
          <li>FPGA miner,</li>
          <li>Cashdrive.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            Decentralized Token Exchange
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Prototype token DEX service,</li>
          <li>Prototype Cross chain atomic swap service,</li>
          <li>Constant product market maker research.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            PQC Sig Scheme Evaluation
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Evaluate possible schemes to make Nexa Quantum Computing resistant.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            Awareness Strategies
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Focus on crypto users and developers,</li>
          <li>Nexa.org (more educational info),</li>
          <li>Podcasts,</li>
          <li>Educational video content,</li>
          <li>Ads on social media test (youtube, twitter),</li>
          <li>Official social media account content,</li>
          <li>Sponsored written content,</li>
          <li>Community rewards,</li>
          <li>Talks at conferences,</li>
          <li>Twitter spaces,</li>
          <li>Exchange listing.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      <div class="pt-2">
        <img src="/static/img/roadmap/rectangle.svg" class="inline h-10 -mt-2">
        <span class="ml-2 uppercase md:text-2xl font-extrabold">Medium-Term: Q3 2023 - Q4 2024</span>
      </div>

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10 flex">
            <img src="/static/img/roadmap/sun.svg" class="h-8">
            <div>Business-orientated Token Infrastructure</div>
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Nexa web & app SDK for developers.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            Fully-featured Token Services
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Ticketing,</li>
          <li>Token generation & management.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            Gigablock Scaling Phase 3
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Cashdrive (UTXO commitments),</li>
          <li>Final mining algo (HF2023),</li>
          <li>UTXO lookup (HF2023),</li>
          <li>Pool withholding defence (HF2023),</li>
          <li>Accelerated signature ASIC.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10">
            <img src="/static/img/roadmap/sun.svg" class="inline h-8">
            Nexa Mobile wallet
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Receive tokens,</li>
          <li>Send Tokens,</li>
          <li>Token history.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10 flex">
            <img src="/static/img/roadmap/sun.svg" class="h-8">
            <div>Major Awareness Push</div>
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Continuation of all previous awareness strategies,</li>
          <li>Conferences,</li>
          <li>Hackathons,</li>
          <li>Written content.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

      <div class="pt-2">
        <img src="/static/img/roadmap/rectangle.svg" class="inline h-10 -mt-2">
        <span class="ml-2 uppercase md:text-2xl font-extrabold">Long-Term: Q4 2024+</span>
      </div>

      {# Sublist #}
      <ul class="border-l border-dashed ml-4 py-6">
        <li class="!list-none">
          <div class="text-lg font-bold -ml-10 flex">
            <img src="/static/img/roadmap/sun.svg" class="h-8">
            <div>Major new and unique functionality.</div>
          </div>
        </li>

        {# Sub sublist #}
        <ul class="border-l ml-4">
          <li>Tailstorm,</li>
          <li>Read only UTXOs,</li>
          <li>Script Libraries,</li>
          <li>PQC Sig Scheme,</li>
          <li>UTXO-based DAO smart-contract research.</li>
        </ul>
        {# /Sub sublist #}
      </ul>
      {# /Sublist #}

    </div>
  </div>
</section>
{# /Roadmap #}

{% endblock %}
